@using UpidaExampleStraight.Controllers;
@model UpidaExampleStraight.Domain.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/client/index">CLIENTS</a>&nbsp;|
<a href="/order/index?clientId=@this.ViewBag.ClientId">ORDERS</a>&nbsp;|
<h2>New Order</h2>
<hr />
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Client.Id)
	<table>
		<tr>
			<td>Ship to Country</td>
			<td>
                @Html.EditorFor(model => model.ShipCountry)
                @Html.ValidationMessageFor(model => model.ShipCountry)
			</td>
		</tr>
		<tr>
			<td>Ship to City</td>
			<td>
                @Html.EditorFor(model => model.ShipCity)
                @Html.ValidationMessageFor(model => model.ShipCity)
			</td>
		</tr>
		<tr>
			<td>Ship to Zip</td>
			<td>
                @Html.EditorFor(model => model.ShipZip)
                @Html.ValidationMessageFor(model => model.ShipZip)
			</td>
		</tr>
		<tr>
			<td>Ship to Address</td>
			<td>
                @Html.EditorFor(model => model.ShipAddress)
                @Html.ValidationMessageFor(model => model.ShipAddress)
			</td>
		</tr>
		<tr>
			<td>Total ($)</td>
			<td>
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td>Products:</td>
			<td>
                @{int index = 0;}
                @foreach(UpidaExampleStraight.Domain.OrderItem oi in this.Model.OrderItems)
                {
                    <span>Product:</span>
                    @MyHtmlExtentions.MyDropDown((HtmlHelper)Html, "OrderItems[" + index + "].ProductId", this.ViewBag.Products, "Key", "Value", oi.ProductId.ToString());
                    @Html.ValidationMessage("OrderItems[" + index + "].ProductId");
                    <span>&nbsp;&nbsp;Count:</span>
                    @Html.TextBox("OrderItems[" + index + "].Count", oi.Count);
                    @Html.ValidationMessage("OrderItems[" + index + "].Count");
                    <span>&nbsp;&nbsp;Price:</span>
                    @Html.TextBox("OrderItems[" + index + "].Price", oi.Price);
                    @Html.ValidationMessage("OrderItems[" + index + "].Price");
                    <br />
                    index++;
                }
                @Html.ValidationMessageFor(model => model.OrderItems)
			</td>
		</tr>
	</table>
	<hr />
	<input type="submit" value="Save" />
}