@using UpidaExampleStraight.Controllers;
@model UpidaExampleStraight.Domain.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="/client/index">CLIENTS</a>&nbsp;|
<a href="/order/index?clientId=@this.ViewBag.ClientId">ORDERS</a>&nbsp;|
<h2>Edit Order</h2>
<hr />
<br />
@using (Html.BeginForm())
{
    @Html.Hidden("clientId")
    @Html.HiddenFor(model => model.Id)
	<table>
		<tr>
			<td>Ship to Country</td>
			<td>
                @Html.EditorFor(model => model.ShipCountry)
                @Html.ValidationMessageFor(model => model.ShipCountry)
			</td>
		</tr>
		<tr>
			<td>Ship to City</td>
			<td>
                @Html.EditorFor(model => model.ShipCity)
                @Html.ValidationMessageFor(model => model.ShipCity)
			</td>
		</tr>
		<tr>
			<td>Ship to Zip</td>
			<td>
                @Html.EditorFor(model => model.ShipZip)
                @Html.ValidationMessageFor(model => model.ShipZip)
			</td>
		</tr>
		<tr>
			<td>Ship to Address</td>
			<td>
                @Html.EditorFor(model => model.ShipAddress)
                @Html.ValidationMessageFor(model => model.ShipAddress)
			</td>
		</tr>
		<tr>
			<td>Total ($)</td>
			<td>
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
			</td>
		</tr>
	</table>
	<hr />
	<input type="submit" value="Save" />
}