@model IList<UpidaExampleStraight.Domain.Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/client/index">CLIENTS</a>&nbsp;|
	<a href="/order/create?clientId=@this.ViewBag.ClientId">NEW ORDER</a>&nbsp;|
	<h2>Orders</h2>
	<hr />
	<br />
	<table border="1" style="width: 80%;">
		<thead>
			<tr class="head">
				<th rowspan="2">ID</th>
				<th colspan="4">Shipping</th>
				<th rowspan="2">CreatedOn</th>
				<th rowspan="2">Total</th>
				<th rowspan="2" colspan="2">ACTIONS</th>
			</tr>
			<tr class="head">
				<th>Country</th>
				<th>City</th>
				<th>Zip</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
            @foreach (UpidaExampleStraight.Domain.Order item in this.Model)
            {
			<tr>
				<td>
					<a href="/order/show?id=@item.Id">@item.Id</a>
				</td>
				<td>@item.ShipCountry</td>
				<td>@item.ShipCity</td>
				<td>@item.ShipZip</td>
				<td>@item.ShipAddress</td>
				<td>@item.CreatedOn</td>
				<td>@item.Total</td>
				<td>
					<a href="/order/edit?id=@item.Id">Edit</a>
				</td>
				<td>
					<a href="/order/edititems?id=@item.Id">Edit Items</a>
				</td>
			</tr>
            }
		</tbody>
	</table>