<!DOCTYPE html>
<html ng-app="angularExample">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Clients/Orders Single Page Angular Application</title>

	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/angular.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/angular-route.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/upida.angular.js")"></script>

	<script type="text/javascript" src="@Url.Content("/Resources/js/app.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/filters/idtext.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/filters/datetime.js")"></script>

	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/clientCreateController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/clientListController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/orderCreateController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/orderEditController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/orderItemsEditController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/orderListController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/orderShowController.js")"></script>
	<link href="@Url.Content("~/Resources/css/style.css")" rel="stylesheet"/>
</head>
<body>
	<ng-view>
	</ng-view>
</body>
</html>