<!DOCTYPE html>
<html ng-app="myclients">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>MyClients Single Page Angular Application</title>

	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/angular.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/angular-route.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/vendor/upida.angular.js")"></script>

	<script type="text/javascript" src="@Url.Content("/Resources/js/app.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/filters/idtext.js")"></script>

	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/clientCreateController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/clientListController.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Resources/js/controllers/clientEditController.js")"></script>
	<link href="@Url.Content("~/Resources/css/style.css")" rel="stylesheet"/>
</head>
<body>
	<ng-view>
	</ng-view>
</body>
</html>