@model UpidaExampleStraight.Domain.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="/client/index">CLIENTS</a>&nbsp;|
<a href="/order/index?clientId=@this.ViewBag.ClientId">ORDERS</a>&nbsp;|
<h2>Edit Order</h2>
<hr />
<br />
<table>
	<tr>
		<td>Ship to Country</td>
		<td>
            <b>@this.Model.ShipCountry</b>
		</td>
	</tr>
	<tr>
		<td>Ship to City</td>
		<td>
            <b>@this.Model.ShipCity</b>
		</td>
	</tr>
	<tr>
		<td>Ship to Zip</td>
		<td>
            <b>@this.Model.ShipZip</b>
		</td>
	</tr>
	<tr>
		<td>Ship to Address</td>
		<td>
            <b>@this.Model.ShipAddress</b>
		</td>
	</tr>
	<tr>
		<td>Total ($)</td>
		<td>
            <b>@this.Model.Total</b>
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr /></td>
	</tr>
	<tr>
		<td>Products:</td>
		<td>
            @{int index = 0;}
            @foreach(UpidaExampleStraight.Domain.OrderItem oi in this.Model.OrderItems)
            {
                <span>Product:</span>
                <b>@oi.ProductId</b>
                <span>&nbsp;&nbsp;Count:</span>
                <b>@oi.Count</b>
                <span>&nbsp;&nbsp;Price:</span>
                <b>@oi.Price</b>
                <br />
                index++;
            }
		</td>
	</tr>
</table>